name: Publish
run-name: Publish ${{ github.ref_name }}

on:
  workflow_dispatch:
    inputs:
      version:
        description: "The version tag to publish, e.g. v1.0.0"
        required: true

permissions:
  contents: "read"
  id-token: "write"

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.0
        with:
          ref: ${{ inputs.version }}

      - name: Publish
        uses: ./.github/actions/publish
        with:
          image_tag: ${{ inputs.version }}
          aws_role_arn: ${{ secrets.AWS_ROLE_ARN }}
          aws_region: ${{ secrets.AWS_REGION }}
          aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
          aws_ecr_repository: ${{ secrets.AWS_ECR_REPOSITORY }}
